@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    width: 100%;
    color: #fff;
    position: fixed;
    font-family: "Raleway", sans-serif;
    padding: 4px 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    margin: 0;
}

.logo {
    width: 150px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a {
    color: #fff; /* Default text color */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fd5c01; /* Change text color on hover */
}

nav ul li a.active-link {
    color: #fd5c01; /* Active link color */
}

.btn {
    background: #fff;
    color: #000;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.dark-nav {
    background: rgba(0, 174, 183);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.menu-icon {
    display: none;
    width: 30px;
    cursor: pointer;
    position: relative; /* Ensure it stays in the flow */
    z-index: 20; /* Higher than the menu's z-index */
    transition: transform 0.3s ease; /* Smooth rotation effect */
}

.menu-icon.close {
    transform: rotate(180deg); /* Rotate for close effect */
}

@media (max-width: 1000px) {
    .logo {
        width: 140px;
        padding-left: 5%;
    }

    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 840px) {
    nav {
        padding: 15px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(0, 174, 183, 0.9); /* Adjust for better overlay effect */
        z-index: 10;
        width: 200px;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease;
        transform: translateX(100%); /* Initially hidden */
    }

    nav ul li {
        display: block;
        margin: 25px 0;
    }

    .menu-icon {
        display: block;
        position: fixed; /* Keep it fixed for better visibility */
        top: 20px; /* Adjust position */
        right: 20px; /* Adjust position */
    }

    .hide-mobile-menu {
        transform: translateX(100%); /* Hidden when menu is inactive */
    }

    .dropdown-mobile-menu {
        transform: translateX(0); /* Visible when menu is active */
    }
}
