.contacts {
  text-align: center;
  background-color: #fff;
  margin-bottom: 100px;
}

.contacts h2 {
  font-size: 2rem;
  color: #fd5c01;
  margin-bottom: 20px;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 100px;
}

.contact-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  height: 320px; /* Fixed height to ensure consistency */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contact-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px auto; 
  display: block;
  border: 4px solid #fd5c01;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Ensure it takes up available space */
}

.contact-details h3 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #fd5c01;
}

.contact-position {
  font-size: 1rem;
  color: #000;
  margin-bottom: 10px;
}

.contact-email,
.contact-phone {
  font-size: 0.9rem;
  color: #000;
  margin: 5px 0;
}

.contact-email a,
.contact-phone a {
  color: #fd5c01;
  text-decoration: none;
}

.contact-email a:hover,
.contact-phone a:hover {
  text-decoration: underline;
}

.btn1{
  background: #fd5c01;
  color: #fff;
  padding: 14px 25px;
  font-size: 36px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btn1:hover {
  color: #000; /* Change text color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-card {
    width: 90%;
    height: auto; /* Allow card to adjust height automatically on small screens */
  }

  .btn1{
    font-size: 24px;
  }
}
