/* Main Section */
.video-slider-section {
  margin: 80px auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-heading {
  font-size: 40px;
  color: #fd5c01;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

/* Slider Container */
.video-slider {
  width: 100%;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slider ul {
  display: flex;
  width: 400%; /* 100% * 4 items */
  transition: 0.5s;
  justify-content: center; /* Align videos horizontally */
}

.slider ul li {
  list-style: none;
  width: 25%; /* Each video takes up 25% of the slider width */
  padding: 10px;
  min-width: 360px;
}

/* Video Container */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.video-container:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Media Queries */
@media (max-width: 1024px) {
  .slider-heading {
    font-size: 30px;
  }

  .slider ul {
    flex-direction: column; /* Stack videos vertically on smaller screens */
    align-items: center;
    gap: 20px;
  }

  .video-container {
    flex-basis: 80%; /* Adjust video container size */
  }
}

@media (max-width: 768px) {
  .slider-heading {
    font-size: 24px;
  }

  .slider ul {
    flex-direction: column;
    gap: 15px;
  }

  .slider ul li {
    width: 70%; /*
  }

  .video-container {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .slider-heading {
    font-size: 20px;
  }

  .slider ul {
    flex-direction: column;
    gap: 10px;
  }

  .slider ul li {
  width: 85%; /* Each video takes up 25% of the slider width */
  min-width: unset;
}

  .video-container {
    flex-basis: 100%; /* Videos take full width on mobile */
  }
}
